.bicycle-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#bicycle-details .title p{
    text-transform: uppercase;
}

.bicycle-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bicycle-images img {
    flex: 1;
    min-width: 200px;
}

.bicycle-images img:first-child {
    min-width: 100%;
}

.bicycle-description > p {
    margin-bottom: 32px;
}

.bicycle-buy {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
    margin-bottom: 40px;
}

.bicycle-buy a {
    grid-row: span 2;
}

.bicycle-description span{
    display: flex;
    align-items: center;
    background-color: var(--cor-12);
    padding: 4px 8px;
    border-radius: 4px;
}

.bicycle-description h2 {
    text-transform: uppercase;
    letter-spacing: 0.015em;
    margin-bottom: 12px;
}

.bicycle-information, .bicycle-datasheet {
    padding: 32px;
    background-color: var(--cor-12);
    border-radius: 4px;
}

.bicycle-information {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.bicycle-information img {
    width: 24px;
    margin-bottom: 8px;
}

.bicycle-information h3 {
    margin-bottom: 8px;
}

.bicycle-datasheet li {
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-11);
}

.bicycle-datasheet li:last-child {
    border: none;
}

.bicycle-datasheet span {
    color: var(--cor-6);
}

@media (max-width: 800px) {
    .bicycle-details {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bicycle-images {
        grid-row: 2;
    }
}

@media (max-width: 400px) {
    .bicycle-information {
        grid-template-columns: 1fr;
    }

    .bicycle-buy {
        grid-template-columns: 1fr;
    }
}