.testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
    overflow: hidden;
}

.testimonial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.testimonial-content {
    padding: 40px 40px 80px 80px;
    align-self: end;
}

.testimonial-content p {
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    max-width: 32ch;
    position: relative;
}

.testimonial p::before {
    content: '“';
    font-size: 5rem;
    color: var(--cor-p2);
    position: absolute;
    left: -50px;
    top: -20px;
}

.testimonial p::after {
    content: '”';
    font-size: 5rem;
    color: var(--cor-p2);
    position: absolute;
}

@media (max-width: 800px) {
    .testimonial {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }
    .testimonial-content {
        padding: 40px 20px;
    }
}