#budget {
    background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0);
}

.budget {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;
}

.budget h2 {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.budget h2::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 8px;
    background-color: var(--cor-p1);
    position: absolute;
    left: -12px;
}

.product-budget, .data-budget {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.product-budget {
    border-radius: 5px 0 0 5px;
    background: var(--cor-12) url(../../img/dec/bottom-left.svg) no-repeat bottom 40px left 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
}

.product-budget > * {
    grid-column: 1/-1;
}

.product-budget > label {
    grid-column: initial;
}

.product-budget label {
    font: 500 1rem/1.5 "Poppins", sans-serif;
    color: var(--cor-4);
    background-color: var(--cor-10);
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: 1px solid var(--cor-12);
}

#estado {
    font: 500 1rem/1.5 "Poppins", sans-serif;
    color: var(--cor-7);
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;
    background: var(--cor-1);
    border: 1px solid var(--cor-2);
}

.checkbox-budget {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-budget label:hover {
    background-color: var(--cor-9);
    border-color: var(--cor-9);
}

.product-budget input:focus + label {
    box-shadow: 0 0 0 2px var(--cor-p1);
    border: 1px solid var(--cor-12);
}

.product-budget label span {
    display: none;
}

.product-budget input:checked + label span {
    display: inline-block;
}

.product-budget input:checked + label {
    background-color: var(--cor-0);
    color: var(--cor-11);
}

.product-budget input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.product-budget label::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid var(--cor-6);
    border-radius: 50%;
    margin-right: 8px;
}

.product-budget input:checked + label::before {
    border-color: var(--cor-7);
    box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
}

.data-budget {
    border-radius: 0 5px 5px 0;
    background: var(--cor-0) url(../../img/dec/bottom-right.svg) no-repeat bottom 40px right 40px;
}

#bikcraft:checked ~ #bikcraft-budget,
#insurance:checked ~ #insurance-budget {
    display: grid;
    gap: 20px;
}

.product-budget h2, .data-budget h2:nth-of-type(n + 2) {
    margin-top: 20px;
}

.details-budget {
    display: none;
    background-color: var(--cor-0);
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    align-items: center;
}

.details-budget li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.details-budget li img {
    width: 16px;
    margin-right: 8px;
}

.product-budget input:checked + label + .details-budget {
    display: grid;
}

.content-budget {
    display: none;
}

@media (max-width: 1200px) {
    .data-budget, .product-budget {
        padding: 32px;
    }
}

@media (max-width: 800px) {
    .budget {
        grid-template-columns: 1fr;
    }
    .product-budget {
        background: var(--cor-12);
        border-radius: 5px 5px 0 0;
    }
    .data-budget {
        border-radius: 0 0 5px 5px;
    }
}

@media (max-width: 400px) {
    .product-budget {
        grid-template-columns: 1fr;
    }
}